.btn:link,
.btn:visited {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 35px;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  @media (max-width: 768px) {
    padding: 10px 25px;
  }
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(26, 26, 26, 0.8);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(215, 190, 157, 0.8);
}

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scale(1.2);
  opacity: 0;
}

.btn-animated {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}

.btn-anthrazit {
  background-color: rgba(26, 26, 26, 0.8);
  color: rgba(26, 26, 26, 0.8);
  translate: 0 150px;
  @media (max-width: 768px) {
    translate: 0 100px;
  }
}

.btn-anthrazit:after {
  background-color: rgba(26, 26, 26, 0.8);
}

.btn-white {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  transform: translateY();
  outline-color: #ffffff;
  text-decoration: none;
  outline-style: solid;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  align-self: center;
  margin: 5%;
}

@media (max-width: 768px) {
  .btn-white {
    outline-width: 2px;
  }
}

.btn_Cofee-bags {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  display: inline-block;
  transform: translateY();
  outline-color: #ffffff;
  text-decoration: none;
}

.btn_zum-Shop:link,
.btn_zum-Shop:visited {
  color: #ffffff;
  background-color: rgba(26, 26, 26, 1);
  text-decoration: none;
  padding: 10px 35px;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  @media (max-width: 768px) {
    align-self: center;
    justify-self: center;
    order: 2;
    margin: auto;
    transform: translateY(80px);
    display: inline-block;
    text-align: center;
  }
}
