
  .Textbox_Header {
    position: absolute;
      top: 50%;  
      left:50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  
  
  .Flexbox_Content {
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    display: flex;
    font-family: sans-serif; 
    padding: 5%;
  }
  
  
  .Textbox_right {
    width: 50%;
    padding: 5% 5% 5% 5%;
  }
  
  
  .Textbox_left {
    width: 50%;
    padding: 5% 5% 5% 0% 
  }
  
  
  .Infobox_left {
    width: 65%;
    display: block;
    position: relative;
    transform: translateY(100%);
  }
  
  
  .Infobox_right {
    width: 35%;
    float:right;
    position: relative;
  }
  
  
  .Imagebox_left {
    width: 50%;
    padding: 0% 0% 5% 0%;
    position: relative; 
  }
  
  
  .Imagebox_right {
    width: 50%;
    padding: 5% 0% 0% 0%;
    position: relative;
    float: right;
  }
  

  .Flexbox_Anthrazit {
    background-color: rgb(26,26,26,1);
    color: rgb(255, 255, 255);
    position: relative;
    height: auto;
    width: max 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;   
    flex-wrap: wrap;
  }


  .Flexbox_Costa-Rica {
   display: flex;
   flex-direction: row;
   background-color: rgb(26,26,26,1);
   justify-content: space-between;
  }


  .Image_Costa-Rica {
    padding: 5%;
   }
 

   .Text_Costa-Rica {
     padding: 5% 0 2% 5%;
   }
     

   .Price_Costa-Rica {
     padding: 0 0 0 5%;
     color: rgb(115, 115, 115);
   }
     

    .Icons_Icon-line {
      scale: 0.5;
      padding: 2%;
    }
    
     
    .Flexbox_Coffee-bags {
      background-image: linear-gradient(#00000080), url(../images/Coffee-bags.jpg);
      filter: scale (-50%);
      background-size: cover;
      background-position: center;
      display: flex;
      height: 50vh;
      align-items: center;
      justify-content: center;
      }
  
  
      .Text_Coffee-bags {
      color: #ffffff;
      text-align: center;
      }


    .Titel_Das-steckt-drin {
      position: relative;
      text-align: center;
      margin: 5%;
     }


     .Flexbox_Das-steckt-drin {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 5%;
     }


     .Flexbox_Icons-top-down {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      width: 100%;
     }


     .Flexbox_Icon-Text {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin: 16%; 
     }


.Box_Map {
  height: 65vh;
}

  
.Titel_Map {
  margin: 0% 0% 2% 5%;
}


.Flexbox_Logo-Footer {
 scale: 1.5;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-between;
}


.Logo_Footer {
  scale: 0.5;
  transform: translateX(-60px);
}


.Flexbox_Adresse-Öffnungszeiten {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}


.Flexbox_Links-Footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  margin: 0% 10% 0% 0%;
}







    


    

  
 