.Textbox_Header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Flexbox_Content {
  background-color: rgb(255, 255, 255);
  color: black;
  position: relative;
  display: flex;
  font-family: sans-serif;
  padding: 5%;
}

@media (max-width: 768px) {
  .Flexbox_Content {
    flex-direction: column;
  }
}

.Titel_Rösterei-Café {
  margin: 0 0 5% 0;
}

.Titel_Bio-und-Fair {
  margin: 0 0 5% 0;
}

.Textbox_right {
  width: 50%;
  padding: 5% 10% 5% 5%;
  order: 1;
}

@media (max-width: 768px) {
  .Textbox_right {
    width: 100%;
    padding: 5% 10% 5% 0%;
  }
}

.Textbox_left {
  width: 50%;
  padding: 5% 10% 5% 0%;
}

@media (max-width: 768px) {
  .Textbox_left {
    width: 100%;
  }
}

.Infobox_left {
  width: 75%;
  display: block;
  position: relative;
  transform: translateY(100%);
}

.Infobox_right {
  width: 25%;
  float: right;
  position: relative;
}

.Imagebox_left {
  width: 50%;
  padding: 5% 0% 0% 0%;
  position: relative;
}

@media (max-width: 768px) {
  .Imagebox_left {
    width: 75%;
    order: 2;
  }
}

.Imagebox_right {
  width: 50%;
  padding: 5% 0% 0% 0%;
  position: relative;
}

@media (max-width: 768px) {
  .Imagebox_right {
    width: 75%;
    flex: right;
    align-self: flex-end;
  }
}

.Flexbox_Anthrazit {
  background-color: rgb(26, 26, 26, 1);
  color: rgb(255, 255, 255);
  position: relative;
  height: auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.Titel_Entdecke-unsere-Kaffee-Sorten {
  margin: 0 0 5% 0;
}

.Flexbox_Costa-Rica {
  display: flex;
  background-color: rgb(26, 26, 26, 1);
}

@media (max-width: 768px) {
  .Flexbox_Costa-Rica {
    flex-wrap: wrap;
    display: flex;
  }
}

/*.Flexbox_Single-Costa-Rica {} */

@media (max-width: 768px) {
  .Flexbox_Single-Costa-Rica {
    box-sizing: border-box;
    flex-basis: 50%;
    box-sizing: border-box;
    flex-basis: 50%;
  }
}

.Image_Costa-Rica {
  padding: 5%;
}

.Text_Costa-Rica {
  padding: 5% 0 2% 5%;
}

.Price_Costa-Rica {
  padding: 0 0 0 5%;
  color: rgb(115, 115, 115);
}

.Icons_Icon-line {
  scale: 0.5;
  padding: 2%;
}

@media (max-width: 768px) {
  .Icons_Icon-line {
    scale: 0.4;
    padding: 0;
  }
}

.Flexbox_Coffee-bags {
  background-image: linear-gradient(#00000080), url(../images/Coffee-bags.jpg);
  filter: scale (-50%);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.Titel_Herkunft {
  color: #ffffff;
  margin: 0 0 3% 0;
  display: none;
}

@media (max-width: 768px) {
  .Titel_Herkunft {
    display: flex;
  }
}

.Text_Coffee-bags {
  color: #ffffff;
  text-align: center;
}

.Titel_Das-steckt-drin {
  position: relative;
  text-align: center;
  margin: 5%;
}

.Flexbox_Das-steckt-drin {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5%;
}

@media (max-width: 768px) {
  .Flexbox_Das-steckt-drin {
    flex-direction: column;
  }
}

.Imagebox_Center {
  width: 50%;
  padding: 5% 0% 0% 0%;
  position: relative;
}

@media (max-width: 768px) {
  .Imagebox_Center {
    width: 100%;
    padding: 0;
    scale: 0.8;
    transform: translateY(-120px);
  }
}

.Flexbox_Icons-top-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

@media (max-width: 768px) {
  .Flexbox_Icons-top-down {
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: row;
    transform: translateY(-150px);
  }
}

.Flexbox_Icon-Text {
  display: flex;
  flex-direction: row;
  margin: 16%;
}

@media (max-width: 768px) {
  .Flexbox_Icon-Text {
    flex-direction: column;
    flex-basis: 33.3%;
    justify-content: center;
    text-align: center;
    margin: 0;
    order: 1;
  }
}

.Icon_Iconline {
  margin: 0 20% 0 -5%;
}

@media (max-width: 768px) {
  .Icon_Iconline {
    margin: auto;
    align-self: flex-start;
    padding: 5%;
  }
}

.Box_Map {
  height: 65vh;
  width: 100%;
}

.Titel_Map {
  margin: 0% 0% 2% 5%;
}

.Flexbox_Logo-Footer {
  scale: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  @media (max-width: 768px) {
    order: 1;
    flex-basis: 33%;
    justify-content: center;
    padding: 0 0 10% 0;
  }
}

.Logo_Footer {
  scale: 0.5;
  transform: translateX(-60px);
}

.Flexbox_Infos-Footer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex: 1;
  margin-top: auto;
}

@media (max-width: 768px) {
  .Flexbox_Infos-Footer {
    order: 2;
    flex-basis: 33%;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Komm-uns-besuchen {
    display: none;
  }
}

.Flexbox_Adresse {
  display: flex;
}

@media (max-width: 768px) {
  .Flexbox_Adresse {
    flex-direction: column;
    display: block;

    order: 2;
    flex-basis: 50%;
  }
}

.Flexbox_Öffnungszeiten {
  display: flex;
}

@media (max-width: 768px) {
  .Flexbox_Öffnungszeiten {
    flex-direction: row;
    flex-basis: 50%;
    order: 2;
  }
}

.Flexbox_Alle-Links {
  display: flex;
  justify-content: space-between;
  flex: 2;
  margin-top: auto;
}

@media (max-width: 768px) {
  .Flexbox_Alle-Links {
    display: flex;
    order: 3;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5% 0 0 0;
  }
}

.Flexbox_Links-Footer-One {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  margin: 0% 10% 0% 0%;
  flex: 1;
}

@media (max-width: 768px) {
  .Flexbox_Links-Footer-One {
    order: 4;
    flex-basis: 50%;
    width: 50%;
    flex-direction: column;
    margin: 0;
  }
}

.Flexbox_Links-Footer-Two {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  margin: 0% 10% 0% 0%;
  flex: 1;
}

@media (max-width: 768px) {
  .Flexbox_Links-Footer-Two {
    order: 3;
    flex-basis: 50%;
    width: 50%;
    flex-direction: column;
    margin: 0;
  }
}
