.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
}

.cart-content {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 0);
  background-color: white;
  width: 100%;
  max-width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: black;
}

.Titel_Warenkorb {
  padding: 60px 20px 20px 20px;
}

.cart-summary {
  margin-bottom: 20px;
}

.cart-summary p {
  float: right;
  padding-right: 20px;
  transform: translateY(-50px);
}

.success-box {
  background-color: #d7be9d;
  padding: 20px;
  margin-top: 10px;
}

.products-list {
  margin-top: 20px;
 
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product-item {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.product-item img {
  width: 35%;
  height: auto;
  border-radius: 5px;
}

.product-item button {
  width: 24px;
  height: 24px;
  
}


.remove-button {
  scale:0.2;
  margin-top:60px;
}

.product-info {
  flex-grow: 1;
}

.product-title {
  font-weight: bold;
}

.product-price {
  margin-top: 5px;

}

.totals {
  color: white;
  background-color: #1a1a1a;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.totals div {
  margin-bottom: 10px;
}

.totals .subtotal,
.totals .shipping,
.totals .total {
  text-align: right;
  float: right;
  right: 0px;
}

.totals hr {
  border: none;
  height: 1px;
  background-color: white;
  margin: 10px 0;
  width: 100%;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  float: right;
}

.divider {
  border: none;
  height: 10px;
  width: 100%;
}

.Box_Button {
  background-color: #1a1a1a;
  display: block;
  padding: 10px;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d7be9d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.close-button img {
  width: 24px;
  height: 24px;
}

.close-button:hover img {
  filter: brightness(1.8);
}

.overlay.scrollable {
  overflow-y: auto;
}