.sub-page-DasCafé {
  min-height: 100vh;
  background-image: url(../images/Coffee-shop.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Flexbox_Content {
  color: black;
  position: relative;
  display: flex;
  font-family: sans-serif;
  padding: 5%;
}

.Flexbox_Content-Center {
  color: black;
  position: relative;
  display: flex;
  padding: 5%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Textbox_center {
  width: 60%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.Flexbox_Imagebox {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5%;
  box-sizing: border-box;
  @media (max-width: 768px) {
    display: none;
  }
}

.Flexbox_Imagebox-mobile {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5%;
  box-sizing: border-box;
  width: 100%;
  justify-content: flex-start;

  @media (min-width: 769px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .Flexbox_Imagebox-mobile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .Flexbox_Imagebox {
    display: none;
  }
}

.Imagebox_Collage {
  display: flex;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.Item_Collage {
  flex: 1 1 calc(25% - 10px);
  @media (max-width: 768px) {
    flex: 1 1 calc(50% - 10px);
  }
}

.Img_Collage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  padding: 5px;
}
