.Box_top-nav {
    position: fixed;
    justify-content: space-between;
    top: 0;
    right: 0;
    width: 100%;
  }
  
  .List_top-nav {
    list-style: none;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    backface-visibility: hidden;
    padding: 40px;
    float: right;
    font-family: sans-serif;
  }
    

    .Item_top-nav {
      color: #ffffff;
      text-align: center;
      display: inline;
      text-decoration: none;
      margin-right: 2vh;
    }
  
    .Logo_top-nav {
      scale: 0.4;
      float: left;
      
    }

    .Link_top-nav,
    .Link_top-nav:visited{
      color: #ffffff;
      text-decoration: none;
    }
  

    .Link_top-nav:hover {
      text-decoration-line: underline;
    }
     

    .Link_top-nav:active {
      text-decoration-line: underline; 
      }
      
  
 

  