<footer class="Footer">

  <div class="Flexbox_Logo-Footer">
    <img src="images/Logo.svg" alt="Logo" class="Logo_Footer" />
    <br />
    <h2>Rustica</h2>
    <br />
    <p>Café & Rösterei</p>
  </div>

  <div class="Flexbox_Infos-Footer">
    <div class="Komm-uns-besuchen"> Komm uns besuchen!</div>
    <div class="Flexbox_Adresse">Frauenhoferstr. 13, Kiel</div>
    <br />
    <div class="Flexbox_Öffnungszeiten">
      <p>Mo-Fr 8-18 Uhr <br /> Sa 11-18 Uhr</p>
    </div>
  </div>

  <div class="Flexbox_Alle-Links">
    <div class="Flexbox_Links-Footer-One">
      <a href="../sub-page/DasCafe.html" class="Link_Footer">Café</a>
      <a href="../sub-page/Shop.html" class="Link_Footer">Shop</a>
      <a href="../sub-page/DieHerkunft.html" class="Link_Footer">Herkunft</a>
      <br />
      <br />
    </div>

    <div class="Flexbox_Links-Footer-Two">
      <a href="../sub-page/Impressum.html" class="Link_Footer">Impressum</a>
      <a href="../sub-page/Datenschutz.html" class="Link_Footer">Datenschutz</a>
    </div>
  </div>
</footer>