<header class="sub-page-DieHerkunft">
  <div class="Menu_Desktop">
    <div class="Box_top-nav">
      <nav class="Bar_top-nav">
        <img src="../images/Logo.svg" alt="Logo" class="Logo_top-nav" />

        <ul class="List_top-nav">
          <li class="Item_top-nav">
            <a href="../sub-page/DasCafe.html" class="Link_top-nav">
              <span>das Café</span>
            </a>
          </li>
          <li class="Item_top-nav">
            <a href="../sub-page/DieHerkunft.html" class="Link_top-nav">
              <span>Herkunft</span>
            </a>
          </li>
          <li class="Item_top-nav">
            <a href="../sub-page/Shop.html" class="Link_top-nav">
              <span>Shop</span>
            </a>
           <li class="Item_top-nav" id="Cart">
            <a href="#" class="Link_top-nav">
              <img
                src="images/Shop Icon White.svg"
                alt="Cart"
                class="top-nav__icon"
              />
            </a>
          </li>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="Menu_mobile-test">
    <nav class="Menu_mobile">

      <div class="Logo_top-nav_mobile">
        <img src="../images/Logo.svg" alt="Logo" id="logoImg" />
      </div>

      <div class="Menu_toggle" onclick="toggleMenu()">
        <img src="../images/Burger Menu.svg" alt="Menu" id="burgerImg" />
      </div>

      <div class="Menupunkte_mobile">
        <ul class="List_top-nav-mobile">
          <li class="Item_top-nav-mobile">
            <a href="../sub-page/DasCafe.html" class="Link_top-nav-mobile">
              <span>das Café</span>
            </a>
          </li>
          <li class="Item_top-nav-mobile">
            <a href="../sub-page/DieHerkunft.html" class="Link_top-nav-mobile">
              <span>Herkunft</span>
            </a>
          </li>
          <li class="Item_top-nav-mobile">
            <a href="../sub-page/Shop.html" class="Link_top-nav-mobile">
              <span>Shop</span>
            </a>
          </li>
        </ul>

        <div class="Menu_close" onclick="toggleMenu()">
          <img src="../images/Burger Menu close.svg" alt="Close" />

        </div>
      </div>
    </nav>
  </div>
<div id="overlay" class="overlay">
    <div class="cart-content">
      <h3 class="Titel_Warenkorb">Warenkorb</h3>
      <div class="cart-summary">
        <p><span id="total-items">0</span> Produkte</p>
        <div class="success-box">Produkt(e) wurde(n) erfolgreich zum Warenkorb
          hinzugefügt.</div>
      </div>
      <div class="products-list">
        <!-- Produkte werden hier eingefügt -->
      </div>
      <div class="totals">
        <div>
          <span class="left">Zwischensumme:</span>
          <span class="right"><span id="subtotal">0 €</span></span>
        </div>
        <div>
          <span class="left">Versandkosten:</span>
          <span class="right">3,9 €</span>
        </div>
        <hr class="divider" />
        <div>
          <span class="left">Gesamtbetrag:</span>
          <span class="right"><span id="total">0 €</span></span>
        </div>
      </div>
      <div class="Box_Button">
        <button class="checkout-button">Zur Kasse</button>
      </div>
    </div>
  </div>
  <script src="../js/cart.js"></script>
</header>