<header class="header">
            <div class="Box_top-nav">
                <nav class="Bar_top-nav">
                    <img src="images/Logo.svg" alt="Logo" class="Logo_top-nav" >
                    <ul class="List_top-nav">
                        <li class="Item_top-nav">
                            <a href="#" class="Link_top-nav">
                                <span>das Café</span>
                            </a>
                        </li>
                        <li class="Item_top-nav">
                            <a href="#" class="Link_top-nav">
                                <span>Herkunft</span>
                            </a>
                        </li>
                        <li class="Item_top-nav">
                            <a href="#" class="Link_top-nav">
                                <span>Shop</span>
                            </a>
                            <li class="Item_top-nav">
                            <a href="#" class="Link_top-nav">
                                <img src="images/Shop Icon White.svg" alt="Cart" class="top-nav__icon">
                            </a>
                        </li>
                        </li>
                    </ul>
                </nav>
            </div>
        
    

    <div class="Textbox_Header">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Rustica</span>
            <span class="heading-primary-sub">Bio und Fair seit 1991</span>
        </h1>

        <a href="#" class="btn btn-anthrazit btn-animated">zum Shop</a>
    </div>


</header>