<main class="main">
    <div class="text-box">
       <h2>Rösterei & Café</h2>
       <a>Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen
        Rösterei, serviert im gemütlichen Café in der innenstadt.
       </a>

       <div class="info-box-left">
        <a> Komm vorbei! <br> Fraunhoferstr. 13, Kiel </a>
       </div>

       <div class="info-box-right">
        <a> Mo - Fr 8-18 Uhr <br> Sa 11-18 Uhr</a>
       </div>
    </div>

    <div class="image-box">
        <img src="images/Coffee-shop.jpg" alt="Café" class="Café" >
    </div>


    <div class="image-box">
        <img src="images/coffee-plant.jpg" alt="Café" class="Café" >
    </div>

    <div class="text-box">
        <h2>Bio und Fair</h2>
       <a>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konstantien leben die Blindtexte. Und das alles in der besten Bio Qualität </a>
        <a href="mehr"></a>
    </div>

   




</main>