/* 
Colors
Dunkel: #474c3c
2: #868664
3: #9da37a
Hell: #e2dea2


*/

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  
  }

header {
  height: 95vh;
  background-image: linear-gradient(hsla(56, 52%, 76%, 0.699), rgba(71, 76, 60, 0.699) ), url(../images/coffee.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
body {
  background: #ffffff;

  @media (min-width: 768px) {
    color: #e2dea2;
  }
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;  
  line-height: 1.7;
  color:#474c3c;
  padding: 30px; 
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: #474c3c;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}

.logo-box {
    position: absolute;
    top: 40px;  
    left:40px;
}

.logo {
    height: 35px;

}

.text-box {
  position: absolute;
    top: 40%;  
    left:50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #000;
    text-transform: uppercase;
    
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 33px;
  
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 11px;
}

