body {
  background: #9da37a;

  @media (min-width: 768px) {
    color: #e2dea2;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: #474c3c;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}