:root {
  /* 
  Colors:
  White: rgba(255,255,255,1) #FFFFFF
  Anthrazit: rgba(26,26,26,1) #1A1A1A
  Kraftpapier: rgba(215,190,157,1) #D7BE9D
  Petrol: rgba(0,109,126,1) #006D7E
  Rosa: rgba(237,209,201,1) #EDD1C9
  Orange: rgba(215,124,18,1) #D77C12
  Medium Grey: rgba(115,115,115,1) #737373
  Light Grey: rgba(233,233,233,1) #E9E9E9
*/
  --div-color: #000000;
  --div-color: #FFFFFF;
  --div-color: #1A1A1A;
  --div-color: #D7BE9D;
  --div-color: #006D7E;
  --div-color: #EDD1C9;
  --div-color: #D77C12;
  --div-color: #737373;
  --div-color: #E9E9E9;
  

  /* 
  Text Styles Desktop:
   */
    --h1-font-size: 96px; 
    --h2-font-size: 48px;
    --h3-font-size: 42px;
    --body-text-font-size: 18px;
  
  /* 
  Text Styles Mobil:
   */
  
   --h1-font-size: 64px; 
   --h2-font-size: 36px;
   --h3-font-size: 32px;
   --body-text-font-size: 14px;
  
}


/*
  // Media Query manager
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }

  // Very large desktop devices (1920px and up)
  @media (min-width: 1920px) { ... }

  1em = 16px (36,48,62,75,120)
*/


*{
  --h1-font-size: 64px; 
  --h2-font-size: 316px;
  --h3-font-size: 32px;
  --body-text-font-size: 14px;
}
 
.h2 {
  font-size: 60;
}


